Source: jupyter-core
Uploaders: Julien Puydt <jpuydt@debian.org>,
           Gordon Ball <gordon@chronitis.net>
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Section: python
Priority: optional
Standards-Version: 4.7.0
Homepage: https://github.com/jupyter/jupyter_core
Build-Depends: debhelper-compat (= 13),
               dh-exec,
               dh-sequence-python3,
               dh-sequence-sphinxdoc <!nodoc>,
               pybuild-plugin-pyproject,
               python3-all,
               python3-doc <!nodoc>,
               python3-enchant <!nodoc>,
               python3-hatchling,
               python3-ipython <!nocheck>,
               python3-myst-parser <!nodoc>,
               python3-pip <!nocheck>,
               python3-platformdirs <!nocheck>,
               python3-pydata-sphinx-theme <!nodoc>,
               python3-pytest <!nocheck>,
               python3-sphinx <!nodoc>,
               python3-sphinx-autodoc-typehints <!nodoc>,
               python3-sphinxcontrib-github-alt <!nodoc>,
               python3-sphinxcontrib.spelling <!nodoc>,
               python3-traitlets <!nocheck>
Vcs-Git: https://salsa.debian.org/python-team/packages/jupyter-core.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/jupyter-core
Testsuite: autopkgtest-pkg-pybuild
Rules-Requires-Root: no

Package: python3-jupyter-core
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Suggests: python-jupyter-core-doc,
          python3-pip
Description: Core common functionality of Jupyter projects for Python 3
 This software component contains the base framework (application
 classes and configurations) for the rest of the Jupyter projects ; it
 doesn't do much by itself.
 .
 This package installs the library for Python 3.

Package: jupyter-core
Architecture: all
Section: utils
Depends: python3-jupyter-core (= ${binary:Version}),
         ${misc:Depends},
         ${python3:Depends}
Suggests: python-jupyter-core-doc
Description: Core common functionality of Jupyter projects (tools)
 This software component contains the base framework (application
 classes and configurations) for the rest of the Jupyter projects ; it
 doesn't do much by itself.
 .
 This package contains the migration tool (off IPython before 4.0)
 and a path-giving utility.

Package: python-jupyter-core-doc
Architecture: all
Multi-Arch: foreign
Section: doc
Depends: python3-doc,
         ${misc:Depends},
         ${sphinxdoc:Depends}
Suggests: jupyter-core,
          python3-jupyter-core
Built-Using: ${sphinxdoc:Built-Using}
Description: Core common functionality of Jupyter projects (documentation)
 This software component contains the base framework (application
 classes and configurations) for the rest of the Jupyter projects ; it
 doesn't do much by itself.
 .
 This package contains documentation.
Build-Profiles: <!nodoc>

Package: jupyter
Architecture: all
Multi-Arch: foreign
Section: metapackages
Depends: jupyter-client,
         jupyter-console,
         jupyter-core,
         jupyter-nbformat,
         ${misc:Depends}
Recommends: jupyter-nbconvert,
            jupyter-notebook,
            python3-ipykernel
Suggests: jupyter-qtconsole,
          python-jupyter-core-doc
Description: Interactive computing environment (metapackage)
 Project Jupyter provides tools for interactive computing, useful for data
 science, scientific computing and learning. Computational languages for
 multiple languages are available; the name Jupyter is derived from
 Julia, Python and R.
 .
 This package depends on a standard set of Jupyter packages;
  - the core and client libraries
  - the console interface
  - the web-based notebook
  - tools for working with and converting notebook (ipynb) files
  - the python3 computational kernel
 .
 The various jupyter components can be called using the /usr/bin/jupyter
 entrypoint, eg "jupyter notebook".
